@import url('normalize.css');

@media (prefers-color-scheme: light) {
  /* Light Theme */
  :root {
    --bnd-primary-textColor: #000;
    --bnd-primary-bgColor: #f8f8f8;
  }
}

@media (prefers-color-scheme: dark) {
  /* Dark Theme */
  /* Please design light theme before (^u^)
  :root {
  }
  */
}

/* Global Variables */
:root {
  --bnd-fonts-fallback: Krub, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
